.skill{class: bem_modifier_skill_description}
  .skill--image
    = link_to skill do
      = image_tag skill.image, class: "skill--image", alt: skill.alt

  %h2.skill--heading
    = skill.name  

  %p.skill--description
    = skill.description 


  .skill--buttons
    = link_to skill, class:"btn -black" do 
      %span.btn--text
        Explore
    - if skill.projects.size > 0 
      = link_to "/projects/using/#{skill.slug}.html", 'up-layer':"new", 'up-target': ".project-page--left-column", class:"btn -black" do 
        %span.btn--text
          = skill.projects.size 
          - if skill.projects.size != 1
            = "projects"
          - else
            = "project"

