%h1 Tech & Skills

.skill-wrapper
  .skill-wrapper--inner-section.-with-description
    - @skills.each do |s| 
      = render('skill',   skill: s, bem_modifier_skill_description: "-with-description" ) 

