.skill-view
  %h1.skill-view--title= @skill.name 

  %p.skill-view--description
    = @skill.description  

  %p.skill-view--long-description
    = @skill.long_description 

  .skill-view--featured-image-wrapper
    = link_to projects_path(using: @skill.slug) do
      = image_tag @skill.image, class: "skill-view--featured-image", alt: @skill.alt

