.project
  .project--image
    = link_to project do
      = image_tag project.image, alt: project.alt


  %h2.project--heading
    = project.title  

  %p.project--description
    = project.description 

  .project--skills-wrapper
    - project.skills.each do |skill|
      = link_to skill  do 
        = image_tag skill.image, class: "project--skill-image", alt: skill.alt


  .project--buttons
    - if project.custom_content
      = link_to project,  :class => "btn -black", :'up-layer' => "new", :'up-target' => ".project-view--custom-content"  do 
        %span.btn--text
          Live View

    = link_to project.github_url, class:"btn -black", target: "_blank", rel: "noopener" do 

      %span.btn--text
        Github

