%section
  .project-page--title
    %h1
      - if @slug_filter != nil
        = "Projects Using"
        = @slug_filter
      - else
        = "All Projects"
  .project-page-inner-section
    .project-page--left-column
      - @projects.each do |p| 
        = render 'project',  project: p  

    .project-page--right-column
      %h5
        Filter By Skill
      %ul(up-nav)
        %li
          = link_to projects_path, :'up-history' => true, :'up-target' => ".project-page--left-column .project-page--title" do
            All projects 
        - @skills.sort_by { |skill| skill.name }.each do |s| 
          - if s.projects.size > 0
            %li
              = link_to projects_path(using:s.slug), :'up-history' => true, :'up-target' => ".project-page--left-column .project-page--title" do
                = "#{s.name}"

