<!DOCTYPE html>
%html(lang="en")

  %head
    -# - if content_for? :open_graph
    -#   = yield_content :open_graph
    -# - else
    -#   %meta{content: current_page.data.description, name: "og:description"}
    -#   %meta{content: current_page.data.og_title, property: "og:title"}
    -#   %meta{content: current_page.data.og_url, property: "og:url"}
    -#   %meta{content: current_page.data.og_image, property: "og:image"}
    -#   %meta{content: current_page.data.og_type, property: "og:type"}

    %meta(charset="UTF-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=edge")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")


    -# = favicon_tag "favicon.ico"

    -# %title
    -#   = current_page.data.title 


    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    -# = stylesheet_link_tag "/assets/unpoly/unpoly" 
    -# = stylesheet_link_tag "normalize" 
    -# = stylesheet_link_tag "styles" 
    -# = stylesheet_link_tag "/assets/sudoku/sudoku" 
    -# = bem_blocks
    -# = javascript_include_tag "/assets/unpoly/unpoly", defer: true, type: "module"
    -# = javascript_include_tag "unpoly_config", defer: true, type: "module"
    -# = unpoly_compilers
  %body
    .layout
      .layout--header
        %header.header
          %nav.header--inner-section
            = link_to "/index.html" do 
              %h1 Draigan Le Febvre
            .header--menu
              .menu(up-nav)
                %ul.menu--ul
                  %li
                    = link_to "home", root_path, 'up-layer': "root"
                  %li
                    = link_to "projects", projects_path,'up-layer': "root", 'up-alias': "/projects/*"
                  %li
                    = link_to "resume", resumes_path, 'up-layer': "root"
                  %li
                    = link_to "tech & skills", skills_path, 'up-layer': "root"
                  %li
                    = link_to "contact", contacts_path, 'up-layer': "root"
                  %li
                    = link_to "https://github.com/draigan", class:"menu--icon-link", target:"_blank", rel:"noopener" do  
                      = image_tag "GitHub.png", class:"menu--icon", alt:"github" 


             
            = link_to root_path, class:"menu--hamburger-link", :'up-layer' => "new drawer", :'up-target' => ".menu--ul"  do 
              = image_tag "bars.svg", class:"menu--hamburger-image", alt:"Navigation" 


      %main.layout--main
        = yield 
      .layout--footer
        %footer.footer
          .footer--inner-section
            %span.footer--copyright
              © Copyright 2022</span>
